extends layout.pug

block content
  main(class = "container w-25 m-3")
    h2 New Todo

    if error
      div(class="alert alert-danger") Please, add some text before submitting 

    form(action="/api/v1/todos" method="POST")
      div.form-group
        label Title
        input(name="title" class="form-control")
      div.form-group
        label Text
        input(name="value" class="form-control")
      button(type="submit" class="btn btn-primary") Create
    